{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block body %}
    <!-- ================================
    Start Content
    ================================= -->
    <section>
      <div class="innerPageBannerCol">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-6">
              <div class="bannerContent">
                <h1 class="xlTitle pb-md-3">Contact us below</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="lightBg">
        <div class="container">
          <form  method="POST" class="form">
            {% csrf_token %}
        
            {% bootstrap_form form %}
        
            {% bootstrap_button button_type="submit" content="Submit" %}
        </form>
       




            
        </div>
      </div>
    </section>

    <!-- ================================
    End Content
    ================================= -->
    
    {% endblock body %}